#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* For dark mode */
.dark-mode {
  background-color: #1a202c; /* Dark background */
  color: #f7fafc; /* Light text */
  transition: all 0.3s ease; /* Smooth transition */
}

/* For light mode */
.light-mode {
  background-color: #f7fafc; /* Light background */
  color: #1a202c; /* Dark text */
  transition: all 0.3s ease; /* Smooth transition */
}

/* Button styles */
.dark-mode-button {
  background-color: #000; /* Dark button background */
  color: #fff; /* Light button text */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
}

.light-mode-button {
  background-color: #fff; /* Light button background */
  color: #000; /* Dark button text */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
}
